@model TCC_PUC_Tech_Barbershop.Admin.Models.Usuario

@{
    ViewData["Title"] = "Atendimentos";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h2>Atendimentos</h2>

<form method="post" action="FiltrarAtendimentos">
    <div class="form-row justify-content-end">
        <div class="col-md-auto">
            <label class="col-form-label">Filtrar atendimentos:</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="filtroAtendimentos" name="filtroAtendimentos">
                <option value="todos">Todos</option>
                <option value="anteriores">Passados</option>
                <option value="proximos">Futuros</option>
            </select>
        </div>
    </div>
</form>

<hr />

@foreach (var atendimento in Model.Atendimentos)
{
    <div class="row">
        <div class="col-md-6">
            <p>
                @atendimento.Barbeiro.Informacoes.Nome
                @atendimento.Barbeiro.Informacoes.Sobrenome
                @atendimento.Barbeiro.Contato.Celular
                | @atendimento.DataHora.ToString("dd/MM/yyyy HH:mm tt")
            </p>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-info btn-block visualizar-atendimento" data-toggle="modal" data-target="#visualizarAtendimentoModal"
                    data-nomeB="@atendimento.Barbeiro.Informacoes.Nome"
                    data-sobrenomeB="@atendimento.Barbeiro.Informacoes.Sobrenome"
                    data-celularB="@atendimento.Barbeiro.Contato.Celular"
                    data-datahoraA="@atendimento.DataHora.ToString("dd/MM/yyyy HH:mm tt")"
                    data-nomeC="@atendimento.Cliente.Informacoes.Nome"
                    data-sobrenomeC="@atendimento.Cliente.Informacoes.Sobrenome"
                    data-celularC="@atendimento.Cliente.Contato.Celular">
                Visualizar
            </button>
        </div>
        @if (atendimento.DataHora > DateTime.Now)
        {
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#editarAtendimentoModal">
                    Editar
                </button>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#cancelarAtendimentoModal"
                        data-atendimento-id="@atendimento.Id">
                    Cancelar
                </button>
            </div>
        }
        <hr />
    </div>
}

<div id="detalhesAgendamentoContainer">
    @Html.Partial("DetalhesAtendimento")
</div>

<div id="editarAgendamentoContainer">
    @Html.Partial("EditarAtendimento")
</div>

<div id="cancelarAgendamentoContainer">
    @Html.Partial("CancelarAtendimento")
</div>

<script>
    $(document).ready(function () {
        $(".visualizar-atendimento").click(function () {
            var nomeBarbeiro = $(this).data("nomeb");
            var sobrenomeBarbeiro = $(this).data("sobrenomeb");
            var celularBarbeiro = $(this).data("celularb");
            var dataHoraAtendimento = $(this).data("datahoraa");
            var nomeCliente = $(this).data("nomec");
            var sobrenomeCliente = $(this).data("sobrenomec");
            var celularCliente = $(this).data("celularc");

            $("#visualizarAtendimentoModal .modal-body").html(
                "<p>Nome do Barbeiro: " + nomeBarbeiro + " " + sobrenomeBarbeiro + "</p>" +
                "<p>Celular do Barbeiro: " + celularBarbeiro + "</p>" +
                "<p>Data e Hora do Atendimento: " + dataHoraAtendimento + "</p>" +
                "<p>Nome do Cliente: " + nomeCliente + " " + sobrenomeCliente + "</p>" +
                "<p>Celular do Cliente: " + celularCliente + "</p>"
            );

            ViewData["NomeBarbeiro"] = nomeBarbeiro;
            ViewData["SobrenomeBarbeiro"] = sobrenomeBarbeiro;
            ViewData["CelularBarbeiro"] = celularBarbeiro;
            ViewData["DataHoraAtendimento"] = dataHoraAtendimento;
            ViewData["NomeCliente"] = nomeCliente;
            ViewData["SobrenomeCliente"] = sobrenomeCliente;
            ViewData["CelularCliente"] = celularCliente;
        });
    });

    $(document).ready(function () {
        $("#filtroAtendimentos").on("change", function () {
            var filtroSelecionado = $(this).val();

            if (filtroSelecionado === "todos") {
                $(".row").show();
            } else {
                $(".row").hide();

                if (filtroSelecionado === "anteriores") {
                    var dataHoraAtual = new Date();
                    $(".row").each(function () {
                        var dataHoraAtendimento = new Date($(this).find(".visualizar-atendimento").data("datahoraa"));

                        if (dataHoraAtendimento < dataHoraAtual) {
                            $(this).show();
                        }
                    });
                } else if (filtroSelecionado === "proximos") {
                    var dataHoraAtual = new Date();
                    $(".row").each(function () {
                        var dataHoraAtendimento = new Date($(this).find(".visualizar-atendimento").data("datahoraa"));

                        if (dataHoraAtendimento >= dataHoraAtual) {
                            $(this).show();
                        }
                    });
                }
            }
        });
    });
</script>