@using System.Security.Claims;
@model TCC_PUC_Tech_Barbershop.Admin.Models.Usuario

@{
    ViewData["Title"] = "Visualizar Perfil";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="form-group">
    <div class="row">
        <div class="col-md-3">
            <h2>Imagem de Perfil</h2>
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Imagem)"
                 alt="Card image cap"
                 id="imagemUsuario"
                 style="max-width: 301px; max-height: 301px; min-width: 301px; min-height:301px; width: 100%; height: auto;">
        </div>
        <div class="col-md-9">
            <h2>Informações Pessoais</h2>

            <h5>
                <div class="row">
                    <div class="col-5">
                        <label for="exampleInputName">Nome: @Model.Informacoes.Nome</label>
                    </div>
                    <div class="col-4">
                        <label for="exampleInputName">Sobrenome: @Model.Informacoes.Sobrenome</label>
                    </div>
                    <div class="col-3">
                        <label for="exampleInputName">Sexo: @Model.Informacoes.Sexo</label>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail">E-mail: @Model.Contato.Email</label>
                    </div>
                    <div class="col">
                        <label for="exampleInputPhoneCellPhone">Telefone/Celular: @Model.Contato.Celular</label>
                    </div>
                </div>
            </h5>
            <br />
            <hr />

            <h2>Endereço</h2>

            <h5>
                <div class="row">
                    <div class="col-3">
                        <label for="exampleInputName">CEP: @Model.Endereco.Cep</label>
                    </div>
                    <div class="col-3">
                        <label for="exampleInputName">Estado: @Model.Endereco.Estado</label>
                    </div>
                    <div class="col-3">
                        <label for="exampleInputName">Cidade @Model.Endereco.Cidade</label>
                    </div>
                    <div class="col-3">
                        <label for="exampleInputName">Bairro @Model.Endereco.Bairro</label>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-4">
                        <label for="exampleInputName">Logradouro: @Model.Endereco.Logradouro</label>
                    </div>
                    <div class="col-3">
                        <label for="exampleInputName">Número: @Model.Endereco.Numero</label>
                    </div>
                    <div class="col-4">
                        <label for="exampleInputName">Complemento: @Model.Endereco.Complemento</label>
                    </div>
                </div>
            </h5>
        </div>
    </div>

    @if (Model.TipoUsuario == TipoUsuarioEnum.Barbeiro)
    {
        <hr />

        <h2>Formas aceitas</h2>
        if (!string.IsNullOrEmpty(Model.FormasPagamentos))
        {
            <h5>
                @Model.FormasPagamentos
            </h5>
        }

        <hr />

        <h2>Atendimentos futuros</h2>
        if (Model.Atendimentos != null)
        {
            @foreach (var item in Model.Atendimentos)
            {
                <h5>
                    @item.Barbeiro.Informacoes.Nome | @item.DataHora.ToString("dd/MM/yyyy HH:mm tt")
                </h5>
            }
        }

        <hr />

        <h2>Cometários</h2>

        <br />

        @if (User.Identity.IsAuthenticated && Model.Id != int.Parse(User.FindFirstValue("Id")))
        {
            <form method="post" asp-controller="Usuario" asp-action="Comentar">
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control" placeholder="Comentario" name="Texto">
                    <input type="hidden" name="BarbeiroId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary mx-2">Adicionar Comentário</button>
                </div>
            </form>
            <hr />
        }

        if (Model.Comentarios != null)
        {
            @foreach (var item in Model.Comentarios)
            {
                <h5> @item.Cliente.Informacoes.Nome </h5>
                @item.Texto
                
                <hr />
            }
        }
    }

    @if (User.Identity.IsAuthenticated && Model.Id == int.Parse(User.FindFirstValue("Id")))
    {
        <div class="d-flex justify-content-center">
            <a class="link text-dark" asp-area="" asp-controller="Usuario" asp-action="EditarPerfil">
                <button type="submit" class="btn btn-primary mx-2">Editar Perfil</button>
            </a>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deletarPerfilModal">
                    Deletar Perfil
                </button>
            </div>
        </div>
    }
</div>

<div id="deletarPerfilContainer">
    @Html.Partial("DeletarPerfil")
</div>